asttokens
blinker
click
comm
debugpy
decorator
et-xmlfile
exceptiongroup
executing
fcsparser
Flask
Flask-HTTPAuth
importlib-metadata
ipykernel
ipython
itsdangerous
jedi
Jinja2
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
natsort
nest-asyncio
numpy==1.26.2
openpyxl
packaging
pandas
parso
pexpect
pickleshare
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
python-dateutil
pytz
pyzmq
setuptools==68.2.2
six
stack-data
tornado
traitlets
typing_extensions
tzdata
wcwidth
Werkzeug
wheel==0.42.0
zipp
