{% extends 'base.html' %}

{% block head %}
<title>CELSeq Sample Sheet Generator</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>CELSeq Sample Sheet Generator</h2>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <form action="/" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="form-group row">
            <label for="operation" class="col-sm-2 col-form-label">Operation:</label>
            <div class="col-sm-10">
                <select name="operation" id="operation" class="form-control">
                    <option value="plate_to_samplesheet">Plate layout to spreadsheet</option>
                    <option value="fcs_collate">Collate FCS files</option>
                    <option value="merge">Merge data into spreadsheet</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Plate spreadsheet:</label>
            <div class="col-sm-10">
                <input type="file" name="plate_spreadsheet" id="plate_spreadsheet" accept=".xlsx" class="form-control-file">
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">FCS file(s)</label>
            <div class="col-sm-10">
                <input type="file" name="fcs_files" id="fcs_files" accept=".fcs" multiple class="form-control-file">
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Sample sheet:</label>
            <div class="col-sm-10">
                <input type="file" name="sample_sheet" id="sample_sheet" accept=".xlsx, .csv, .tsv" class="form-control-file">
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Template sheet:</label>
            <div class="col-sm-10">
                <input type="file" name="template_sheet" id="template_sheet" accept=".xlsx" class="form-control-file">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>

    {% if collated_fcs_file or samplesheet_file or merged_file %}
    <table class="table">
        <thead>
            <tr>
                <th>Output Type</th>
                <th>File</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if collated_fcs_file %}
            <tr>
                <td>Merged FACS data</td>
                <td><a href="{{ url_for('uploaded_file', filename=collated_fcs_file) }}">{{ collated_fcs_file.split('/')[-1] }}</a></td>
                <td>
                    <form action="{{ url_for('delete_file') }}" method="POST">
                        <input type="hidden" name="filename" value="{{ collated_fcs_file }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}

            {% if samplesheet_file %}
            <tr>
                <td>Sample sheet</td>
                <td><a href="{{ url_for('uploaded_file', filename=samplesheet_file) }}">{{ samplesheet_file.split('/')[-1] }}</a></td>
                <td>
                    <form action="{{ url_for('delete_file') }}" method="POST">
                        <input type="hidden" name="filename" value="{{ samplesheet_file }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}

            {% if merged_file %}
            <tr>
                <td>Merged sample sheet</td>
                <td><a href="{{ url_for('uploaded_file', filename=merged_file) }}">{{ merged_file.split('/')[-1] }}</a></td>
                <td>
                    <form action="{{ url_for('delete_file') }}" method="POST">
                        <input type="hidden" name="filename" value="{{ merged_file }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}