{% extends 'base.html' %}

{% block head %}
<title>CELSeq Sample Sheet Generator</title>
{% endblock %}

{% block body %}
<div class="container">
    <h2>CELSeq Sample Sheet Generator</h2>

    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <form action="/" method="POST" enctype="multipart/form-data" class="mt-4">
        <div class="form-group row">
            <label for="operation" class="col-sm-2 col-form-label">Operation:</label>
            <div class="col-sm-10">
                <select name="operation" id="operation" class="form-control">
                    <option value="plate_to_samplesheet">Plate layout to spreadsheet</option>
                    <option value="fcs_collate">Collate FCS files</option>
                    <option value="fcs_merge">Merge collated FCS file into spreadsheet</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">FCS file(s)</label>
            <div class="col-sm-10">
                <input type="file" name="fcs_files" id="fcs_files" accept=".fcs" multiple class="form-control-file">
                {% if fcs_files %}
                <i>Uploaded:</i>
                <ul>
                    {% for fcs_file in fcs_files %}
                    <li>{{ fcs_file }}</li>
                    {% endfor %}
                </ul> 
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Plate spreadsheet:</label>
            <div class="col-sm-10">
                <input type="file" name="plate_spreadsheet" id="plate_spreadsheet" accept=".xlsx" class="form-control-file">
                {% if plate_spreadsheet %}
                <i>Uploaded:</i>
                {{ plate_spreadsheet }}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Sample sheet:</label>
            <div class="col-sm-10">
                <input type="file" name="sample_sheet" id="sample_sheet" accept=".xlsx, .csv, .tsv" class="form-control-file">
                {% if sample_sheet %}
                <i>Uploaded:</i>
                {{ sample_sheet }}
                {% endif %}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>

    {% if download_link %}
    {% if download_link.endswith('fcs_data.tsv') %}
    <i>Merged FACS data:</i>
    {% endif %}
    {% if download_link.endswith('samplesheet.tsv') or download_link.endswith('merged.tsv') %}
    <i>Processed sample sheet:</i>
    {% endif %}
    <a href="{{ url_for('uploaded_file', filename=download_link) }}">{{ download_link.split('/')[-1] }}</a>
    <br />
    {% endif %}

</div>
{% endblock %}